formatter.name: 'pretty'
suites:
    OpenIDConnect:
        namespace: SimpleSAML\Modules\OpenIDConnect
        psr4_prefix: SimpleSAML\Modules\OpenIDConnect
extensions:
    LeanPHP\PhpSpec\CodeCoverage\CodeCoverageExtension:
        format:
            - 'php'
        output:
            php: 'build/cov/phpspec.cov'
        whitelist:
            - 'lib'
        blacklist:
            - 'lib/Factories'
            - 'lib/Form'