<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ This file is part of the simplesamlphp-module-oidc
  ~
  ~ (c) Sergio Gómez <sergio@uco.es>
  ~
  ~ For the full copyright and license information, please view the LICENSE
  ~ file that was distributed with this source code.
  -->

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.1/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="vendor/autoload.php"
         failOnRisky="true"
         failOnWarning="true"
>
    <php>
        <ini name="error_reporting" value="-1" />
    </php>

    <testsuites>
        <testsuite name="OpenID Connect SimpleSAMLphp Module Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./lib</directory>
        </whitelist>
    </filter>
</phpunit>
