{% set subPageTitle = 'Config Overview'|trans %}

{% extends "@oidc/base.twig" %}

{% block oidcContent %}

    <p>{{ 'OIDC module config overview'|trans }}</p>

    <h4>{{ 'Migrations'|trans }}</h4>

{% endblock oidcContent -%}
