{% if oidcMenu|default %}
    <div class="menu">
        <ul>
            {% for item in oidcMenu.items %}
            <li>
                <a href="{{ item.hrefPath }}"
                   class="{{ item.hrefPath == oidcMenu.activeHrefPath ? 'active' : '' }}"
                > {{ item.label }} </a>
            </li>
            {% endfor %}
        </ul>
    </div>


{% endif %}