<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Submitting...</title>
</head>
<body>
  <form method="post" action="{{ redirectUri }}">
    {% for name, value in params %}
      <input type="hidden" name="{{ name }}" value="{{ value }}">
    {% endfor %}
    <noscript>
      <button type="submit">Continue</button>
    </noscript>
  </form>
</body>
<script src="{{ moduleURL('oidc/assets/js/src/formpost.js') }}" defer></script>
</html>