{% set subPageTitle = 'Test Verifiable Credential Issuance'|trans %}

{% extends "@oidc/base.twig" %}

{% block oidcContent %}

    <h4>Pre-Authorized Code</h4>
    <p>
        {{ 'You can use info below to test Verifiable Credential Issuance.'|trans }}
    </p>
    <p>
        (1) End-User provides information required for the issuance of a certain Credential
        <br>
        User data sample:
        <code class="code-box code-box-content">
            {{- sampleData|json_encode(constant('JSON_PRETTY_PRINT') b-or constant('JSON_UNESCAPED_SLASHES')) -}}
        </code>
    </p>
    <p>
        (2) Credential Offer (Pre-Authorized Code)
        <code class="code-box code-box-content">
            {{- credentialOfferUri -}}
        </code>
    </p>

    <img src="{{ qrUri }}" alt="QR Code" />

    <p>
        (3) Obtains Issuer's Credential Issuer metadata
        <br>
        (4) Token Request (Pre-Authorized Code, tx_code)
        Token Response (access_token)
        <br>
        (5) Credential Request (access_token, proof(s))
        Credential Response (Credential(s))
    </p>

{% endblock oidcContent -%}
