{% extends "@oidc/clients/_form.twig" %}

{% set pagetitle = 'Edit new OpenID Connect Client' | trans %}

{% block action %}
    <div class="ui submit primary icon labeled button">
        <i class="save icon"></i>
        {% trans '{oidc:save}' %}
    </div>
{% endblock %}
