{% extends "@oidc/clients/_form.twig" %}

{% set pagetitle = 'Edit new OpenID Connect Client' | trans %}

{% block pre_breadcrump %}
    <span class="divider">/</span>
    <a class="section" href="./index.php">{{ 'OpenID Connect Client Registry'|trans }}</a>
{% endblock %}

{% block action %}
    <div class="ui submit primary icon labeled button">
        <i class="save icon"></i>
        {{ '{oidc:save}'|trans }}
    </div>
{% endblock %}
