{% set subPageTitle = 'Edit Client '|trans ~ originalClient.getIdentifier %}

{% extends "@oidc/base.twig" %}

{% block oidcContent %}

    <div class="pure-g">
        <div class="pure-u-1-2">

        </div>
        <div class="pure-u-1-2">
            <div class="right">
                <a class="pure-button " href="{{ routes.urlAdminClientsShow(originalClient.getIdentifier) }}">
                    <i class="fa fa-chevron-left"></i>
                    {{ 'Back'|trans }}
                </a>
            </div>
        </div>
    </div>

    {% include "@oidc/clients/includes/form.twig" %}

{% endblock oidcContent -%}

{% block postload %}
    {{ parent() }}

    <script src="{{ asset('js/src/client-form.js', 'oidc') }}"></script>
{% endblock %}