{% extends "@oidc/clients/_form.twig" %}

{% set pagetitle = 'Create new OpenID Connect Client' | trans %}

{% block pre_breadcrump %}
    <span class="divider">/</span>
    <a class="section" href="./index.php">{% trans 'OpenID Connect Client Registry' %}</a>
{% endblock %}

{% block action %}
    <div class="ui submit primary icon labeled button">
        <i class="plus icon"></i>
        {% trans '{oidc:create}' %}
    </div>
{% endblock %}
